<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.example.entity.EmployeeDO">
        <id column="id" jdbcType="TINYINT" property="id"/>
        <result column="salary" jdbcType="INTEGER" property="salary" />
        <result column="status" jdbcType="TINYINT" property="status" />
    </resultMap>
    <sql id="Base_Column_List">
        id,salary,status
    </sql>
    <update id="updateInfos" parameterType="List">
        update employee set status = 1 
        where id in
        <foreach item="item" collection="ids" separator="," open="(" close=")" index="index">
            #{item,jdbcType=TINYINT}
        </foreach>
    </update>
    <select id="query" resultType="com.example.entity.EmployeeDO">
        select
        <include refid="Base_Column_List" />
        from employee;
    </select>
    <select id="queryById" parameterType="java.lang.Integer" resultType="com.example.entity.EmployeeDO">
        select * from employee where id = #{id};
    </select>
    <select id="queryByStatus" resultType="com.example.entity.EmployeeDO">
        select * from employee where status = 0;
    </select>
    <update id="batchUpdate"  >
      <foreach collection="list" item="item" index="index" open="" close="" separator=";">
          update employee
          <set>
            salary = #{item.salary,jdbcType=INTEGER},
            status = #{item.status,jdbcType=TINYINT}
          </set>
          where id = #{item.id,jdbcType=TINYINT}
      </foreach>
    </update>

</mapper>